

html {
  min-height: 100%;
}

body {
  font-family: 'Abel', sans-serif;;
  background-color: #FFB7C5;
  background: -webkit-linear-gradient(#FFB7C5, #FC8EAC); /* For Safari 5.1 to 6.0 */
  background:      -o-linear-gradient(#FFB7C5, #FC8EAC); /* For Opera 11.1 to 12.0 */
  background:    -moz-linear-gradient(#FFB7C5, #FC8EAC); /* For Firefox 3.6 to 15 */
  background:         linear-gradient(#FFB7C5, #FC8EAC); /* Standard syntax */
}

.navigation {
  margin-top: 8%;
}

.section {
  padding:0 8% 0 8%;
}

h5 {
  display: inline-block;
  padding: 4px 4px 4px 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: #007CE1;
}

a:hover {
  color:#0062B1;
}

.label {
  display: inline-block;
  background-color: #FFB7C5;
  padding: 2px 4px;
  border-radius: 8px;
}

.sprint2 {
  background-color: #FAF341;
}

.cultural {
  background-color: #A0FF66;
}

.tech {
  background-color: #FFAA59;
}

h4, h6 {
  margin: 0;
}

@media (max-width: 375px) {
  h6 {
    display: none;
  }
}
