html {
  min-height: 100%;
}

body {
  font-family: 'Abel', sans-serif;
  background-color: #FFB7C5;
  background: -webkit-linear-gradient(#FFB7C5, #FC8EAC); /* For Safari 5.1 to 6.0 */
  background:      -o-linear-gradient(#FFB7C5, #FC8EAC); /* For Opera 11.1 to 12.0 */
  background:    -moz-linear-gradient(#FFB7C5, #FC8EAC); /* For Firefox 3.6 to 15 */
  background:         linear-gradient(#FFB7C5, #FC8EAC); /* Standard syntax */
  padding-bottom: 4%;
}

code {
  font-size: 80%;
}

.container {
  width: 100%;
}

.navigation {
  margin-top: 8%;
}

.section {
  padding: 0 2% 0 2%;
}

.seven {
  text-align: center;
}

.bite {
  border: 1px solid #FFf;
  border-radius: 8px;
  padding: 2%;
  font-size: 1.3em;
  text-align: center;
  margin:4px 0 4px 0;
}

.news {
  margin-top: 4px;
}

.xtras {
  display: none;
}

h5 {
  display: inline-block;
  padding: 4px 4px 4px 0;
  margin-bottom: 0;
  border-bottom: 1px #FFB7C5 solid;
}

a {
  text-decoration: none;
  color: #007CE1;
}

a:hover {
  color:#0062B1;
}

.blogcontent {
  border-bottom: 1px solid #FFB7C5;
  padding: 2% 0 2% 0;
  margin-bottom: 2%;
  font-size: 1.3em;
}


.label {
  display: inline-block;
  padding: 2px 4px;
  border-radius: 8px;
}

.bloglist .label {
  display: none;
}

.sprint1 {
  background-color: #FFD3DC;
}

.sprint2 {
  background-color: #FAF341;
}

.sprint3 {
  background-color: #FF4C2F;
}

.sprint4 {
  background-color: #3CD1A7;
}

.sprint5 {
  background-color: #CF4BFF;
}

.sprint6 {
  background-color: #6A9FF1;
}

.cultural {
  background-color: #A0FF66;
}

.tech {
  background-color: #FFAA59;
}

h4, h6 {
  margin: 0;
}


@media (min-width: 380px) {
  .bloglist .label {
    display: inline-block;
  }
  h5 {
    font-size:2.4rem;
    border-bottom: none;
  }
  .seven {
    text-align: left;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 80%;
  }
}
@media (min-width: 900px) {
  .container {
    width: 85%;
  }
}

@media (min-width: 830px) {
  .container {
    width:90%;
  }
}

@media (min-width: 770px) {
  .section {
    padding: 0 8% 0 8%;
  }
}

@media (min-width: 700px) {
  .container {
    width: 95%;
  }
  .section {
    padding: 0 4% 0 4%;
  }
}

@media (min-width: 580px) {
  .xtras {
    display: inline-block;
  }
  .news {
    width: 100%;
    float: right !important;
  }
}

  @media (min-width: 480px) {
    .news {
      width: 80%;
      float: left;
    }
  }
