html {
  min-height: 100%;
}

body {
  background-color: #FFB7C5;
  background: -webkit-linear-gradient(#FFB7C5, #FC8EAC); /* For Safari 5.1 to 6.0 */
  background:      -o-linear-gradient(#FFB7C5, #FC8EAC); /* For Opera 11.1 to 12.0 */
  background:    -moz-linear-gradient(#FFB7C5, #FC8EAC); /* For Firefox 3.6 to 15 */
  background:         linear-gradient(#FFB7C5, #FC8EAC); /* Standard syntax */
}

.navigation {
  padding: 2% 0 2% 0;
  margin-bottom: 2%;
  border-bottom: 1px solid #FC8EAC;
  text-align: center;
  font-family: 'Abel', sans-serif;
  font-size: 2em;
}
