body {
  min-height: 100vh;
  font-family: 'Lato';
  background-color: blue;
}

.container-fluid.landing {
  margin-top: 40vh;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  pointer-events: none;
}

.hexagon {
  stroke: #ffa3a3;
  fill: #ff9999;
}

.projectRow {
  padding: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

section {
  padding: 32px;
  border-top: 1px solid #ffb5b5;
  font-size: 1.1em;
}

.text-center {
  text-align: center;
}

header {
  z-index: 1;
}

#contact i {
  font-size: 1.5em;
  text-shadow: 1px 1px #f5f5f5;
  margin-right: 8px;
}

.contactType {
  display: table-cell;
  padding: 0 32px 0 0;
  font-weight: 600;
}

h1 {
  color: #333;
  font-family: 'Roboto';
  font-size: 1.7em;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin: 0;
}

h3 {
  color: #333;
  font-family: 'Roboto';
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 0.1em;
}

header h1 {
  text-transform: uppercase;
}

.container {
  pointer-events: none;
}

nav {
  z-index: 1;
  padding: 32px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: 0.2s all ease-in;
}

.linkDesc {
  text-shadow: none;
}

a {
  transition: 0.1s all ease-in;
  text-shadow: 1px 1px #f5f5f5;
  color: #333;
  cursor: pointer;
  text-decoration: none;
  pointer-events: auto;
}
a:active {
  color: #333;
  text-decoration: none;
}
a:focus {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: #000;
  text-decoration: none;
  text-shadow: 1px 1px #f5f5f5;
}

nav .nav-items {
  font-weight: 600;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  font-family: 'Roboto';
  padding: 0 16px;
}

svg {
  pointer-events: auto;
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
}

.svgBackground {
  width: 100vw;
  height: 100vh;
}
